name: SBOM (Monorepo - CycloneDX)

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sbom:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate SBOM (CycloneDX - Repo)
        uses: anchore/sbom-action@v0
        with:
          format: cyclonedx-json
          output-file: sbom.repo.cdx.json
          artifact-name: sbom-repo-cyclonedx
